{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Fileshare" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Fileshare") %}
{% endblock page_header %}

{% block main %}
Fileshare acts as normal file server providing Windows file shares. There are three default shares available on the Fileshare application.
<p></br>
{% if fileshare_ip %}
<a href = "\\{{fileshare_ip}}\Personal">\\{{fileshare_ip}}\Personal</a>
{% else %}
\\va-fileshare\Personal
{% endif %}
 - each Directory user have own private folder that can not be shared with others. The network path is same for all users, but the content depends based on the credentails.
</p>
<p>
{% if fileshare_ip %}
<a href = "\\{{fileshare_ip}}\Share">\\{{fileshare_ip}}\Share</a>
{% else %}
\\va-fileshare\Share
{% endif %}
 - is a folder where only valid Directory members can enter. You can create unlimited numbers of subfolders and configure access privileges via folder Properties menu in Explorer.
</p>
<p>
{% if fileshare_ip %}
<a href = "\\{{fileshare_ip}}\Public">\\{{fileshare_ip}}\Public</a>
{% else %}
\\va-fileshare\Public
{% endif %}

- this one allows unrestricted access to any user without providing credentials. This is useful for sharing files with guest computers or employees that do not need to 
have own account in Directory.
</p>
<p>
You can mount/unmount the network shares with these commands:
</p>

       Remove all existing mapped shares: </br></br>
       <div class = 'list-group-item'>
           net use * /DELETE /Y
       </div>
       </br>
       Map all 3 shares: </br></br>
      <div class = 'list-group-item' >
{% if fileshare_ip %}
                net use P: \\{{fileshare_ip}}\Personal /SAVECRED</br>
                net use S: \\{{fileshare_ip}}\Share\ /SAVECRED</br>
                net use X: \\{{fileshare_ip}}\Public</br>
</div>
      </p>
    There are also some essential portable administration tools saved in the path \\{{fileshare_ip}}\Public\Tools\


{% else %}
      
                net use P: \\va-fileshare\Personal /SAVECRED</br>
                net use S: \\va-fileshare\Share\ /SAVECRED</br>
                net use X: \\va-fileshare\Public</br>

</div>
      <p>
    There are also some essential portable administration tools saved in the path \\va-fileshare\Public\Tools\
{% endif %}

</p>
Access to files and folders and all the actions are logged for security reasons. You can see the current storage usage from "Apps / Fileshare" panel
<p>
<br>
Recommended folder for back-up is: <code>/home/</code> (All share folders)
</p>
{% endblock %}


