{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Owncloud" %}{% endblock %}
{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Owncloud") %}
{% endblock page_header %}
{% block main %}
    Visit the <a href = {% url "horizon:apps_help:owncloud:index" %}> help page</a>.
  {% if shares_table != None and users_table != None %}
      {{ shares_table.render }}
      {{ users_table.render }}
  {% else %}
      <h4> No data for owncloud was found. Is the owncloud salt-minion configured? </h4>
  {% endif %}
{% endblock %}
