{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:backup.manage_backups:keep_backup' hostname %} {% endblock %}
{% block modal-header %}{% trans "How long should backups be kept?" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Enter the number of days backups should be kept. " %}</h3>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add group" %}" />
  <a href="{% url 'horizon:apps:backup.manage_backups:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
