{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:backup.manage_backups:new_backup' host.info.name %}{% endblock %}
{% block modal-header %}{% trans "Add a backup" %}{% endblock %}
blasdba
{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Fill the form to add a new backup" %}</h3></br>
    {% trans "Enter the full absolute path to the backup. The file must exist. " %}
</div>
{% endblock %}
{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add backup" %}" />
  <a href="{% url 'horizon:apps:backup.manage_backups:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
