{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Backups" %}{% endblock %}
{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("All backups") %}
{% endblock page_header %}
{% block main %}

Visit the <a href = {% url "horizon:apps_help:backup:index" %}> help page </a>.
</br>
<hr>

{% if backup_hosts %}
   {% for host in backup_hosts %}
        {{ host.table }}
    {% endfor %}

  {% else %}
   <h4> No data for backuppc was found. Is the backup salt-minion configured? </h4>
  {% endif %}
{% endblock %}


