{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Monitoring" %}{% endblock %}
{% block main %}

For help, visit the <a href = {% url "horizon:apps_help:monitoring:index" %}> Help page </a>. 
<style type="text/css">
.monitor-host h1{
    margin: 0;
}
.monitor-host .services-len{
    color: #555;
    padding-left: 5px;
    font-size: 12px;
}
.monitor-host table tr.service-state-0{
  border-left: 5px solid #44de40;
}
.monitor-host table tr.service-state-1{
  border-left: 5px solid #dedc40;
}
.monitor-host table tr.service-state-2{
  border-left: 5px solid #de4040;
}
</style>

{% for hostinfo in monitoring_hosts %}
  <div class="monitor-host">
      <h1>{{hostinfo.host_name}}
          <span class="services-len">
          {% blocktrans with services_count=hostinfo.services|length %}
          monitoring {{services_count}} services
          {% endblocktrans %}
          </span>
      </h1>
      <table class="table table-bordered datatable">
        <thead>
          <tr class="tablesorter-headerRow">
            <th class="sortable normal_column">{% trans "Name" %}</th>
            <th class="sortable normal_column">{% trans "Output" %}</th>
            <th class="sortable normal_column">{% trans "State" %}</th>
            <th class="actions_column sorter-false">{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for service in hostinfo.services %}
          <tr class="service-state-{{service.state}}">
            <td class="sortable normal_column">{{service.name}}</td>
            <td class="sortable normal_column">{{service.output}}</td>
            <td class="sortable normal_column">
              {% if service.state == 0 %}
                {% trans "OK" %}
              {% elif service.state == 1 %}
                {% trans "Warning" %}
              {% elif service.state == 2 %}
                {% trans "Critical" %}
              {% elif service.state == 3 %}
                {% trans "Unknown" %}
              {% endif %}
            </td>
            <td class="actions_column">
                <div class="btn-group">
                    <a class="btn btn-primary bt-sm"
                       href="{% url 'horizon:apps:monitoring.status:chart' host=hostinfo.host_name service=service.name %}">
                        {% trans "View graphs" %}
                    </a>
                </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endfor %}

{% endblock %}
