{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:activedir.dns:add' %}{% endblock %}
{% block modal-header %}{% trans "Add new DNS entry" %}{% endblock %}

{% block modal-body %}
<div class="left">
    {% for field in form %}
      <p id = "{{ field.auto_id }}_field" >
        {{ field.label }}
        {{ field }}
        {{ field.help_text }}
      </p>
    {% endfor %}
    <script type = 'text/javascript'>
      $('#id_entry_type').val('A')
      $('#id_entry_type').on('change', function(){
        switch(this.value){
          case 'A':
          case 'AAAA':
              $('#id_address_field').show()
              $('#id_hostname_field').hide()
              $('#id_priority_field').hide()
            break;
          case 'MX':
              $('#id_address_field').hide()
              $('#id_hostname_field').show()
              $('#id_priority_field').show()
            break;
          case 'NS':
          case 'CNAME':
              $('#id_address_field').hide()
              $('#id_hostname_field').show()
              $('#id_priority_field').hide()
            break;
        }
      });
      $('#id_entry_type').change()
    </script>
</div>
<div class="right">
    <h3>{% trans "Fill the form to add a new DNS entry" %}</h3>
    <p>
        {% trans "The IP must not be added until now." %}
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add entry" %}" />
  <a href="{% url 'horizon:apps:activedir.dns:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
