{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:activedir.dns:edit' %}?{{ get_data }}{% endblock %}
{% block modal-header %}{% trans "Edit DNS entry" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Fill the form to edit the DNS entry" %}</h3>
    {% trans "If you leave a blank value, it will not change - the old value will be used. " %}
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add entry" %}" />
  <a href="{% url 'horizon:apps:activedir.dns:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
