{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "VapourApps Settings" %}{% endblock %}
{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("VapourApps Settings") %}
  <style type = 'text/css'>
    .more-height{
      height:20%;
    }

    input[type=text] {
      font-size:20px;
    }
  
    input[type=password]{
      font-size:20px;
    }
  </style>

{% endblock page_header %}

{% block main %}
  <div class = 'container-fluid settings-container'>
    <form method = 'post' action = "{% url "horizon:project:vap_settings:index" %}">
      {% csrf_token %}
      {% for field in vap_fields %}
        <p class = 'more-height'>
          <div class = 'row'>
            <div class = 'col-md-3'>
              {{ field.label_tag }} 
            </div>
            <div class = 'col-md-6'>
              {{ field }} 
            </div>
            <div class = 'col-md-3'>
              {{ field.help_text }}
            </div>
          </div>
        </p>
      {% endfor %}
      <input type = 'submit' value = 'Submit changes' class = 'btn-primary btn-lg' id = 'vap_settings_submit'>
    </form>
  </div>
{% endblock %}


