{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Fileshare" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Fileshare") %}
{% endblock page_header %}

{% block main %}
    <h3>Home folder</h3>
    {{ home_table.render }}
    <h3>Share folder</h3>
    {{ share_table.render }}
    <h3>Public folder</h3>
    {{ public_table.render }}
{% endblock %}


