{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:vpn_panel.vpn_panel_users:new_user' %}{% endblock %}
{% block modal-header %}{% trans "Add a User" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <h5>Either choose a user from the list, or create a new one. </h5>
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
    <script type = "text/javascript">
        $('#id_username').bind('input propertychange', function(){
            $('#id_list_users').attr('disabled', this.value.length > 0)
            $('#id_list_users').value('0')
        });
        $('#id_list_users').on('change', function(){
//            alert(this.value)
            $('#id_username').attr('disabled', this.selectedIndex != "0")
            $('#id_username').value('')
        });

    </script>
</div>
<div class="right">
    <h3>{% trans "Add a new VPN user" %}</h3>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add user" %}" />
  <a href="{% url 'horizon:apps:activedir.groups:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
