{% extends "base.html" %}
{% load horizon i18n %}

{% block title %} {% trans "Aliases" %} {% endblock %}
{% block main %}

<table id="instances_table">
    <tbody>
        <tr>
            <td>
                <i class="fa fa-database"></i>
                <div class="info_right">
                    <h2>Storage</h2>
                    Not running
                </div>
                <div class="clearfix"></div>
            </td>
            <td>
                <i class="fa fa-heartbeat"></i>
                <div class="info_right">
                    <h2>Monitoring</h2>
                    Not running
                </div>
                <div class="clearfix"></div>
            </td>
            <td>
                <i class="fa fa-envelope-o"></i>
                <div class="info_right">
                    <h2>E-Mail</h2>
                    Not running
                </div>
                <div class="clearfix"></div>
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-floppy-o"></i>
                <div class="info_right">
                    <h2>Backup</h2>
                    Not running
                </div>
                <div class="clearfix"></div>
            </td>
            <td>
                <i class="fa fa-pencil-square-o"></i>
                <div class="info_right">
                    <h2>Projects</h2>
                    Not running
                </div>
                <div class="clearfix"></div>
            </td>
        </tr>
    </tbody>
</table>

<style>
#instances_table .fa{
    font-size: 30px;
    display: block;
    float: left;
}
#instances_table .info_right{
    margin-left: 10px;
    margin-right: 20px;
    float: left;
}
#instances_table h2{
    margin: 0;
}
</style>

{% endblock %}
