{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Inventory" %}{% endblock %}
{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Inventory") %}
  <style type = 'text/css'>
    .inventory_overview{
        color: green;
        font-size: 12px;
    }
  </style>
{% endblock page_header %}
{% block main %}
    <div class = 'inventory_overview'>
    This is an overview of the systems which are integrated with this private cloud. The inventory items are drawn from the Monitoring server. Adding new inventory items is done on the client side, by installing salt-minion and connecting it to the salt-master.
    </div>

    {{ table.render }}
{% endblock %}
