body{
  &:not(#splash) {
    background-image: url('/static/custom/sidebar_bg.png');
    background-repeat: repeat-y;
    background-position: -200px top;
  }
}

#splash {
    background: rgb(0, 110, 171);
    .login {
        background: url(/static/custom/logo-splash.png) no-repeat center 65px;
    }

    div.login {
        background-color: #FFF;
    }
}
.sidebar{
    background: none;
    box-shadow: 0px 0px 0px !important;
    padding-top: 0px;
}

.topbar{
    background: #006eab;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.26);
    border-bottom: 0px solid #000;

    h1.brand{
        font-size: 45px;
        a{
           background: transparent url("/static/custom/logo.png?441c44079c8e") no-repeat scroll 0px 5px;
        }
    }
    .switcher_bar .btn.btn-topnav{
        padding: 12px;
        background-color: #007EC5;
        border-color: #008FDE;
        color: #fff;
        &:hover, &:focus, &:active, &.active, open > &.dropdown-toggle{
            color: #fff;
            background-color: #005f94;
            border-color: #008FDE;
        }
    }
}

.nav_accordion dt{
    padding: 0.7em 1.2em;
    border-bottom: 1px solid #efefef;
    color: #3c3c3c;

    &:first-child{
        border-top: 0px solid #000;
    }
    /*
    &.active, &:hover{
        background-color: #e7e7e7;
        &:first-child{
            background: transparent linear-gradient(rgb(176, 176, 176) 0%, rgb(231, 231, 231) 10%);
        }
    }*/
}

.nav_accordion dd{
    border-bottom: 1px solid #efefef;
    background: #e7e7e7;

    div:first-child h4{
        margin-top: 0px;
    }
}

.nav_accordion dt, .nav_accordion dd{
    li a{
        color: #555;
        text-align: left;
        padding: 0.7em 1.5em;
    }
    li a.active, li a:hover{
        color: #fff;
        border: 0px solid #000;
        box-shadow: none;
        background: #006eab;
    }
}
