<script type="text/javascript">
    window.location.replace('/project?error=404')
</script>
<!--
{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} - {% trans "Page Not Found" %}{% endblock %}

{% block content %}
  <div id="right_content">
    <div id="page_head">
      <h2 id="page_heading">{% trans "The page you were looking for doesn't exist" %}</h2>
      <p id="page_description">{% trans "You may have mistyped the address or the page may have moved." %}</p>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <div id="sidebar">
    <ul id="navigation">
      {% block nav_home %}
      <li><h3><a href="{% url 'index' %}">{% trans "Home" %}</a></h3></li>
      {% endblock %}

      {% block nav_projects %}
      <li><h3><a href="{% url 'index' %}">{% trans "Projects" %}</a></h3></li>
      {% endblock %}
    </ul>
{% endblock %}
-->
