{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Active Directory" %}{% endblock %}

{% block page_header %}
    <style type = 'text/css'>
        .va-increase-bot-margin{
            margin-bottom: 10px;
        }
    </style>
  {% include "horizon/common/_page_header.html" with title=_("Active Directory") %}
{% endblock page_header %}

{% block main %}
<div class = 'va-increase-bot-margin'>
    Directory provides features of Microsoft Active Directory.  There are 3 sub-sections:
</div>
<ul class = 'va-increase-bot-margin'>
            <li class = 'va-increase-bot-margin'>
                - View/Add users: for managing users (add, remove, enable/disable, change password). You can also autocreate account for VPN services when creating new user. You can do it also from the VPN section later.
            </li>
            <li class = 'va-increase-bot-margin'>
                - Groups: manage groups (create, remove, change users membership). Most of the built-in groups are hidded for easier work but you can see them on 'View more' button.
            </li>
            <li class = 'va-increase-bot-margin'>
                - DNS entries: add DNS entries for new servers (A, AAAA, MX, NS, CNAME) or update existing. SOA entry can not be updated. Be carefull when deleting entries.
            </li>
</ul>
<p>
    Users and groups are used across all other applications, so an user can use single credentails to access all services.<br><br>
    You can also use Remote Server Administratrion Tools (RSAT) from a Windows computer to remotely manage this application. You need to download appropriate version depending on the operating system. After installing the package you need to make them visible by using Taskbar and Start Menu Properties/Customize/System administration tools.
</p>
<div class = 'va-increase-bot-margin'>
    You can use:
</div>
<ul class = 'va-increase-bot-margin'>
            <li class = 'va-increase-bot-margin'>
                - Active Directory Users and Computers
            </li>
            <li class = 'va-increase-bot-margin'>
                - Group Policy Management
            </li class = 'va-increase-bot-margin'>
            <li class = 'va-increase-bot-margin'>
                - DNS Manager (connect to server: va-directory)
            </li>
</ul>
The Active Directory application is shipped with AD schema version 47 (Windows Server 2008 R2). You can join other Windows Domain Controllers with same schema level (but never use one with a greater schema level)<br><br>There are also few system users that are hidden from the list: dnsquery, krbtgt. They are visible with the RSAT tools only. Do not edit/delete them as they are required for system to work properly.<br><br>
{% if directory_ip %}
To join PCs to the domain you need to setup DNS server settings to: {{directory_ip}}
{% else %}
To join PCs to the domain you need to setup DNS server settings to the IP address of va-directory
{% endif %}
<br>
<br>
The best practice is to use this IP address as first DNS servers for all computers. This is neceessary for Windows logging services. It will also make apps available by hostname.
<br>
<br>
Recommended folder for back-up is: <code>/var/lib/samba/sysvol/</code> (Sysvol and Netlogon shares)
{% endblock %}


