{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Monitoring" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Monitoring") %}
{% endblock page_header %}

{% block main %}


The monitoring application uses Icinga2 as the backend monitoring system, in order to monitor the whole infrastructure of your private cloud.
<br><br>
For every host which is running, sensors are added to check different services such as CPU or Disk usage. If the services are green and have status OK, this means that the parameters returned for that particular service are within the normal expected range. 
If a service returns a check-value outside of the normal expected range, it can also have status of Warning or Critical, depending on the severity of the problem.
<br><br>
When an application is enabled, it automatically provisioned at the monitoring system. At the moment, adding other hosts and services can also be done, but from the command line, after connecting to the va-monitoring instance

{% if monitoring_ip %}
({{monitoring_ip}}) 
{% else %}
(va-monitoring)
{% endif %}


via ssh. You can access the latest Icinga2 documentation on:
<a href="http://docs.icinga.org/icinga2/latest/doc/module/icinga2/toc">http://docs.icinga.org/icinga2/latest/doc/module/icinga2/toc</a>

Adding new hosts and services can be done in the /etc/icinga2/conf.d folder. For upgrade purposes, do not change the existing va_*.cfg files.
<br><br>
If you add additional hosts and services, they will automatically be displayed on the Apps / Monitoring / Status panel of the VapourApps dashboard, together with full performance data graphing.
<br><br>
If a problem occurs, the system will send notifications to the e-mail contact listed in:
Private cloud / Compute / VapourApps Settings / Email for notification:
But, for the moment you need to directly configure the e-mail sending of the monitoring application, to use your smarthost or your e-mail account. This should be done on the Exim e-mail server, installed locally on the va-monitoring instance.
</br>


{% if monitoring_ip %}
You can access the Icinga2 web interface on <a href = "http://{{monitoring_ip}}">http://{{monitoring_ip}}</a>. Authentication credentials are in the credentials file, on the OpenStack host - /root/os-inst/secrets.sls
{% else %}
You can access the Icinga2 web interface on <a href = "http://va-monitoring">http://va-monitoring</a>. Authentication credentials are in the credentials file, on the OpenStack host - /root/os-inst/secrets.sls
{% endif %}


{% endblock %}


