{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:activedir.users:add' %}{% endblock %}
{% block modal-header %}{% trans "Create an User" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Fill the form to add a new user" %}</h3>
    <p>
        {% trans "The new user will be automatically synchronized with Active Directory." %}</br>
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add user" %}" />
  <a href="{% url 'horizon:apps:activedir.users:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
