{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:activedir.users:change_name' username%}{% endblock %}
{% block modal-header %}{% trans "Change name for user " %}{{ username }}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Change Active Directory name" %}</h3>
    <p>
        {% trans "Type the new first name and last name." %}
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Change name" %}" />
  <a href="{% url 'horizon:apps:activedir.users:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
