{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:activedir.users:manage_groups' username %}{% endblock %}
{% block modal-header %}{% trans "Manage groups" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Manage groups for user : " %} {{ username }}</h3>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Submit" %}" />
  <a href="{% url 'horizon:apps:activedir.users:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
