{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Email" %}{% endblock %}

{% block page_header %}
    <style type = 'text/css'>
        .va-increase-bot-margin{
            margin-bottom: 10px;
        }
    </style>
  {% include "horizon/common/_page_header.html" with title=_("Email") %}
{% endblock page_header %}

{% block main %}
<p>
The VapourApps e-mail app uses the iRedmail open source e-mail system, which combines several open source tools for sending and receiving e-mail, webmail, mail filtering, antivirus and antispam. The virtual instance is preconfigured to work with the Directory server and will not start if a Directory instance is not running. Users and groups are managed through the directory server.
</p>
<p>
The following connections should be used for connecting to the e-mail server:
</p>
<ul class = 'va-increase-bot-margin'>
{% if email_ip %}
<li class = 'va-increase-bot-margin'>Secure POP3 - Host: {{ email_ip }}, Port 995;</li>
<li class = 'va-increase-bot-margin'>Secure IMAP - Host: {{ email_ip }}, Port 993; </li>
<li class = 'va-increase-bot-margin'>E-mail sending (Submission) - Host: {{ email_ip }}, Port 587</li>
{% else %}
<li class = 'va-increase-bot-margin'>Secure POP3 - Host: va-email, Port 995;</li>
<li class = 'va-increase-bot-margin'>Secure IMAP - Host: va-email, Port 993; </li>
<li class = 'va-increase-bot-margin'>E-mail sending (Submission) - Host: va-email, Port 587</li>
{% endif %}
</ul>
<p>
Through the webmail, message filters for a particular user can be created, such as automatic redirection and vacation messages. Webmail is available at <a href = "https://{{email_ip}}" target = "_blank">https://{{email_ip}}/mail/</a></p>
<p>
The MX record should contain the public IP address of the VapourApps private cloud, from which port 25 is forwarded to the e-mail instance.
</p>
<p>
SPF records should be configured accordingly into the public DNS for the domain which was configured in the VapourApps installer:
</p>
<p>
TXT record containing  "v=spf1 mx -all"
</p>
<p>
DKIM records can be configured into the public DNS. The DKIM public records can be viewed with the command:
<code># amavisd-new showkeys</code>
on the E-Mail host{% if email_ip %} - {{email_ip}} {% endif %}.
</p>
{% endblock %}


