<!-- These styles look like this because for the moment there is only one field in the form. If more are added, maybe I should revert to the default.  -->
<style type = "text/css">
.vap_auth{
    margin-left: 30%;
    margin-top: 5%;
    width:30%;
    height:25%;
}

#toggle_auth_modal input[type=text]{
    width : 200px;
    margin-top:0%;
    font-size: 14px;
}

#toggle_auth_header{
    margin-top:0%;
}

.modal-header, .modal-body, .modal-footer{
    height : 40px;
}

.modal-body{
    height: 50px;
}

</style>

<div class = "vap_auth modal fade" id = "toggle_auth_modal_{{ form_action }}"> 
    <form class="well contact-form" id = "toggle_auth_modal" method = "POST" action = "{{ form_action }}/enable" >
      <div class="toggle_auth_header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 id='toggle_auth_header'>Enter size of volume</h4>
      </div>
      <div class="modal-body">
           {% csrf_token %}
            <input type="text" id = "space_input" placeholder ="Disk space (in GB)" name = 'volume_size' /> </br>
      </div>
      <div class="modal-footer">
          <input class="btn btn-primary pull-right" type="submit" value="Submit" id = 'form_submit' />
      </div>
    </form>

</div>

