{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:activedir.groups:add' %}{% endblock %}
{% block modal-header %}{% trans "Add a new group" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Fill the form to add a new group" %}</h3>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add group" %}" />
  <a href="{% url 'horizon:apps:activedir.groups:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
