{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:activedir.groups:add_user_to_group' %}{% endblock %}
{% block modal-header %}{% trans "Add user to group" %}{% endblock %}

{% block modal-body %}
<div class = 'va-modal-add-user'>
  <div class="left">
      <fieldset>
      {% include "horizon/common/_form_fields.html" %}
      </fieldset>
  </div>
  <div class="right">
      <h3>{% trans "Select users" %}</h3>
  </div>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add users to group" %}" />
  <a href="{% url 'horizon:apps:activedir.groups:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
