{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Groups" %}{% endblock %}
{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("All groups") %}
{% endblock page_header %}
{% block main %}
    Visit the <a href = {% url "horizon:apps_help:activedir:index" %}> Help page </a>.

  {{ table.render }}

<button class = 'btn' id = 'toggle_secondary'>View more</button>
<div id = 'secondary_groups'>
  {{ secondary_groups.render }}
</div>
<script type = 'text/javascript'>
    $("#secondary_groups").toggle();
    $("#toggle_secondary").click(function() {
        $("#secondary_groups").toggle();
    });
</script>

{% endblock %}


